// Colours
$color-background: {{ .Site.Params.colors.background | default "#81c6ff" }};
$color-foreground: {{ .Site.Params.colors.foreground | default "#fff" }};
$color-hover: {{ .Site.Params.colors.hover | default "ffba82" }};

@import 'hallo/variables';
@import 'hallo/base';
@import 'hallo/layout';
